<!-- reset-password.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="./style.css"> <!-- Replace with the path to your CSS file -->
    <script src="./script.js"></script> <!-- Replace with the path to your JS file -->
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/reset-password/<%= email %>/<%= token %>" method="post">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>
